@media screen and (min-width: 768px) {
  .front-page,
  .classes,
  .about {
    padding: 5% 10%;
  }
  .videos {
    display: flex;
    gap: 2rem;
  }
  .about {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    img {
      width: 50%;
    }
    h2 {
      text-align: start;
    }
  }
}
